In [103]:
import pandas as pd
import numpy as np
import urllib
from bs4 import BeautifulSoup
import time
import re

In [104]:
# https://www.indeed.com/jobs?q=data+scientist+$20,000&l=New+York&start=30
# $20000 means 20k or up
# l = location
# start increases incrementally by 10. Starting at 00.

In [105]:
# Test one page of url
url = 'https://www.indeed.com/jobs?q=data+scientist+$20,000&start=00'
html = urllib.urlopen(url).read()
soup = BeautifulSoup(html, 'lxml')

In [106]:
# Trying to get all jobs titles first
job_list = []
for row in soup.find_all('div', {'id':True, 'data-jk':True}):
    jobtitle = row.a.text
    print jobtitle
    job_list.append(jobtitle)
    
# Convert to function
def job_func(soup, job_list=[]):
    for row in soup.find_all('div', {'id':True, 'data-jk':True}):
        jobtitle = row.a.text
        job_list.append(jobtitle)
    return job_list

Data Scientist
Data Scientist
Data Scientist
Data Scientist, North America Supply Chain Advanced Analytic...
Data Scientist
Data Scientist - Healthcare Remote USA
Data Scientist/Machine Learning Engineer
Data Scientist, Analytics, University Graduate
Data Scientist
Entry Level Data Analysis
Freelance Data Scientist
Junior Data Scientist
Data Scientist, Advanced Analytics
Data Scientist
Data Scientist

In [107]:
# Looking at location
location_list = []
for row in soup.find_all('div', {'id':True}):
    for header in row.find_all('span', {'class':'location'}):
        location = header.text
        print location
        location_list.append(location)
        
# Convert to function
def loc_func(soup, location_list=[]):
    for row in soup.find_all('div', {'id':True}):
        for header in row.find_all('span', {'class':'location'}):
            location = header.text
            location_list.append(location)
    return location_list

Arlington, VA 22209
Durham, NC
Harrisburg, PA
Portland, OR
United States
Ann Arbor, MI
San Diego, CA 92129
Menlo Park, CA
San Diego, CA
Germantown, MD
Remote
San Francisco, CA
Billerica, MA
Lehi, UT
Austin, TX 78731

In [108]:
# Looking at salary if there is one
salary_list = []
for row in soup.find_all('div', {'id':True}):
    for block in row.find_all('td', {'class':'snip'}):
        try:
            salary =  block.find('span', {'class':'no-wrap'}).text
            print salary
            salary_list.append(salary)
        except:
            print 'no salary info'
            salary_list.append(np.nan)
            
def sal_func(soup, salary_list=[]):
    for row in soup.find_all('div', {'id':True}):
        for block in row.find_all('td', {'class':'snip'}):
            try:
                salary =  block.find('span', {'class':'no-wrap'}).text
                salary_list.append(salary)
            except:
                salary_list.append(np.nan)
                
    return salary_list

no salary info
no salary info
no salary info
no salary info
$75,000 - $100,000 a year
$120,000 a year
no salary info
no salary info
$81,250 - $100,600 a year
no salary info
no salary info
no salary info
no salary info
no salary info
no salary info

In [109]:
# Looking at company
company_list = []
for row in soup.find_all('div', {'id':True}):
    for header in row.find_all('span', {'class':'company'}):
        company_list.append(header.text.replace('\n',''))

def comp_func(soup, company_list=[]):
    for row in soup.find_all('div', {'id':True}):
        for header in row.find_all('span', {'class':'company'}):
            company_list.append(header.text.replace('\n',''))
    return company_list

In [110]:
# Looking at days posted/sponsored. Will specify sponsored as np.nan
# Time is organized by: hours, days, and more than 30 days. 30+ days will be regarded as 30 days
time_list = []
for row in soup.find_all('div', {'id':True}):
    for header in row.find_all('div', {'class':'result-link-bar'}):
        try:
            time =  header.find('span', {'class':'date'}).text
            print time
            if 'days' in time:
                days = float(time.split()[0])
                time_list.append(round(days,2))
            elif 'hours' in time:
                hours = float(time.split()[0])/24.
                time_list.append(round(hours,2))
            else:
                time_list.append(30.0)
        except:
            print 'Sponsored'
            time_list.append(np.nan)
            
def time_func(soup, time_list=[]):
    for row in soup.find_all('div', {'id':True}):
        for header in row.find_all('div', {'class':'result-link-bar'}):
            try:
                time =  header.find('span', {'class':'date'}).text
                if 'days' in time:
                    days = float(time.split()[0])
                    time_list.append(days)
                elif 'hours' in time:
                    hours = float(time.split()[0])/24.
                    time_list.append(hours)
                else:
                    time_list.append(30.0)
            except:
                time_list.append(np.nan)
                
    return time_list

Sponsored
Sponsored
Sponsored
14 days ago
10 days ago
13 days ago
11 days ago
21 days ago
5 days ago
25 days ago
2 days ago
10 days ago
1 day ago
Sponsored
Sponsored

In [111]:
# Ratings and number of reviews
rating_list = []
for row in soup.find_all('div', {'id':True, 'data-jk':True}):
    try:
        # Get number of ratings
        ratings = row.find('span', {'class':'slNoUnderline'}).text
        
        # Get actual star count out of 5
        # width is a string with format 'width:##.#px'. Trying to pull out ##.# as a float
        width = row.find('span', {'style':True})['style']
        pixels = re.search('\d{2}.\d',width)
        stars = round(float(pixels.group())/60. * 5, 2)
        rating_list.append((stars, ratings))
        
    except:
        rating_list.append((np.nan, np.nan))
        
rating_list

def rat_func(soup, rating_list=[], star_list=[], review_list=[]):
    for row in soup.find_all('div', {'id':True, 'data-jk':True}):
        try:
            # Get number of ratings
            ratings = row.find('span', {'class':'slNoUnderline'}).text

            # Get actual star count out of 5
            # width is a string with format 'width:##.#px'. Trying to pull out ##.# as a float
            width = row.find('span', {'style':True})['style']
            pixels = re.search('\d{2}.\d',width)
            stars = round(float(pixels.group())/60. * 5, 2)
            rating_list.append((stars, ratings))

        except:
            rating_list.append((np.nan, np.nan))
            
    star_list = [i[0] for i in rating_list]
    review_list = [i[1] for i in rating_list]
            
    return star_list, review_list

In [112]:
# Make dataframe of information
# Lists are:
'''job_list, location_list, salary_list, company_list, time_list, rating_list, summary_list
rating_list is a tuple with two pieces of info: rating out of 5 and number of ratings'''

# Split rating_list into 2 parts: star_list and review_list
star_list = [i[0] for i in rating_list]
review_list = [i[1] for i in rating_list]

In [113]:
# Get summary of job posting
summary_list = []
for row in soup.find_all('div', {'id':True}):
    for header in row.find_all('span', {'class':'summary'}):
        summary_list.append(header.text.replace('\n',''))

def sum_func(soup, summary_list=[]):
    for row in soup.find_all('div', {'id':True}):
        for header in row.find_all('span', {'class':'summary'}):
            summary_list.append(header.text.replace('\n',''))
    return summary_list

In [114]:
df = pd.DataFrame(zip(job_func(soup), 
                      loc_func(soup), 
                      sal_func(soup), 
                      comp_func(soup), 
                      time_func(soup), 
                      rat_func(soup)[0], 
                      rat_func(soup)[1],
                      sum_func(soup)), 
                  columns=['Title', 
                           'Location', 
                           'Salary',
                           'Company', 
                           'Post_date', 
                           'Rating', 
                           'Reviews',
                           'Summary'])
df.head()

,Title,Location,Salary,Company,Post_date,Rating,Reviews,Summary
0,Data Scientist,"Arlington, VA 22209",NaN,Deloitte,NaN,4.25,"4,610 reviews",Gathering data from both information systems a...
1,Data Scientist,"Durham, NC",NaN,xometry,NaN,NaN,NaN,Xometry is seeking a data scientist to build t...
2,Data Scientist,"Harrisburg, PA",NaN,Pennsylvania Higher Education Assistance A...,NaN,3.35,201 reviews,Scrubbing data if required. Assist in text ana...
3,"Data Scientist, North America Supply Chain Adv...","Portland, OR",NaN,NIKE INC,14.0,4.35,"3,377 reviews",North America Supply Chain Advanced Analytics ...
4,Data Scientist,United States,"$75,000 - $100,000 a year",RDM,10.0,4.35,14 reviews,"A deep understanding of algorithms, mathematic..."

In [115]:
# Got some information, but df is not clean at all. Let's work easiest to hardest. 
# Reviews is first

def cleaner(row):
    try:
        # Replace commas with nothing
        new_row = row.replace(',', '')

        # Get of rid of word 'reviews'
        new_row = float(new_row.split()[0])
    except:
        new_row = np.nan    
    
    return new_row

In [116]:
# Make a cleaner for salary. Taking average of range of salary for computation purposes
def sal_cleaner(row):
    try:
        # Replace commas with nothing
        new_row = row.replace(',', '')

        # Get list of salary split by -
        split_list = new_row.split('a year')[0]
        dol_replace = split_list.replace('$', '')
        dol_split = dol_replace.split('-')
        
        if len(dol_split) > 1:
            new_row = 0.5 * (float(dol_split[0]) + float(dol_split[1]))
        else:
            new_row = float(dol_split[0])
    except:
        new_row = np.nan    
    
    return new_row

In [117]:
# We are going to eventually run this above code multiple times. So better to put in a function
def indeed_maker(soup):
    df = pd.DataFrame(zip(job_func(soup), 
                      loc_func(soup), 
                      sal_func(soup), 
                      comp_func(soup), 
                      time_func(soup), 
                      rat_func(soup)[0], 
                      rat_func(soup)[1],
                      sum_func(soup)), 
                  columns=['Title', 
                           'Location', 
                           'Salary',
                           'Company', 
                           'Post_date', 
                           'Rating', 
                           'Reviews',
                           'Summary'])
    
    df.Reviews = df.Reviews.map(cleaner)
    df.Salary = df.Salary.map(sal_cleaner)
    
    return df

In [118]:
# Running script so that we get 120 salaries
# Testing with 20 first
notnull_sum = 0
start = '00'
while notnull_sum < 150:
    url = 'https://www.indeed.com/jobs?q=data+scientist+$20,000&start=' + start
    html = urllib.urlopen(url).read()
    soup = BeautifulSoup(html, 'lxml')
    
    ind_df = indeed_maker(soup)
    ind_df.drop_duplicates(inplace=True)
    notnull_sum = ind_df.Salary.notnull().sum()
    start = int(start) + 10
    start = str(start)

KeyboardInterrupt:

In [ ]:
ind_df.shape

In [ ]:
ind_df.describe()

In [ ]:
# Saving dataframe as a csv so that I don't have to run code again.
ind_df.to_csv('Indeed_0612', encoding='utf-8')

In [ ]:
path = 'Indeed_0612'
df = pd.read_csv(path)

In [ ]:
df